:root {
    --mc: #008850;
    --sc: #00e085;
    --lc: #f9f9f9;
    --dc: #444;
    --gc: #ddd;
}

/* 공통 */

.input[disabled] { cursor: default;}
.mb10 { margin-bottom: 10px; }
.mainColor { color: var(--mc); }
.icon_tit {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #333;
}

.Wrap {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
}

.subwrap {
    max-width: 1920px;
    min-width: 1200px;
    height: 490px;
    margin: 0 auto;
}
.table_bd {
    width: 100%;
    height: auto;
    /* border-top: 2px solid #333;
    border-bottom: 1px solid #333; */
    margin-bottom: 50px;
}

table {
    margin-bottom: 80px;
}

colgroup {
    width: 180px;
}

tbody, tr th {
    font-size: 16px;
    color: #333;
    padding: 30px 20px;
    text-align: left;
    vertical-align: middle;
    background: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
}

tbody, td {
    font-size: 15px;
    color: #666;
    padding: 30px 40px;
    text-align: left;
    vertical-align: middle;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}
select { border: none; }


/* 슬라이드 깜박임 없애기 */
.main_slider .swiper-wrapper,
.main_slider .swiper-slide {
    transition-duration: 0.5ms;
}

body {
    color: #444444;
    letter-spacing: -0.02em;
}

.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner>* {
    flex: 1;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.sc {
    padding: 100px 0;
    text-align: center;
}

.sc h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.sc .tit {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 40px 0;
}

.sc a.btn_s01 {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #008850;
    color: #008850;
    font-size: 13px;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.Header .hd_wrap {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(0,0,0,0.15);
    color: var(--lc);
    line-height: 100px;
    transition: 0.5s;
}

.Header.on .hd_wrap {
    background: var(--lc);
    color: var(--dc);
    line-height: 80px;
}


.Header .hd_wrap:hover {
    background: var(--lc);
    color: var(--dc);
}

.Header h1 {
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 0;
}

.Header .hd_wrap h1 a {
    display: inline-block;
    font-size: 0;
    width: 188px;
    height: 22px;
    background: url(../assets/logo_w.png);
    vertical-align: middle;
}

.Header .hd_wrap:hover h1 a {
    background: url(../assets/logo.png);
}

.Header.on .hd_wrap h1 a {
    background: url(../assets/logo.png);
}

.Header .top_service {
    position: absolute;
    top: 0;
    right: 70px;
}

.Gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.Header .top_service {
    display: flex;
    gap: 40px;
}

.Header .top_service .project li {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
}

.Header .top_service .project li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: var(--gc);
    margin: 0 10px;
}

.Header .top_service strong {
    cursor: pointer;
}

.Header .top_service strong:hover {
    color: #008850;
}

.Header .top_service strong.on {
    color: #008850;
}

.Header .top_service .lang {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
    font-size: 7px;
    vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
    transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.45;
    border: 2px solid var(--mc);
    background: var(--lc);
    color: #444444;
    padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
    display: block;
}

.Header .top_service .top_search {
    position: relative;
}

.Header .top_search .search_box {
    display: none;
    position: absolute;
    top: 80px;
    right: -65px;
    line-height: 1;
    border: 1px solid var(--gc);
    background: #fff;
    padding: 30px 50px;
    width: 600px;
    text-align: center;
}

.Header .top_search.on .search_box {
    display: block;
}

.Header .top_search .search_box input[type="text"] {
    font-size: 20px;
    width: 450px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}

.Header .top_search .search_box::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 60px;
    width: 20px;
    height: 20px;
    background: var(--lc);
    border-left: 1px solid var(--gc);
    border-top: 1px solid var(--gc);
    transform: rotate(45deg);
}

/* section */
.sub_customer {
    height: 490px;
    background: url(../assets/top_visual.jpg);
}

.sub_customer h2 {
    font-size: 46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 260px;
}

.sub_content {
    background: #f7f7f7;
}

.sub_content .Page_tit {
    padding: 100px 0 60px 0;
    font-size: 40px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.sub_content .Page_tab {
    padding: 20px 0;
    font-size: 16px;
    color: #f9f9f9;
    border: 1px solid #008850;
    background: #008850;
    text-align: center;
}

.Page_wrap {
    border: 1px solid #e6e6e6;
}

.Page_wrap .table_wrap {
    padding: 60px 100px 100px 100px;
    background: #fff;
}
/* Navi Bar */
.sub_navibar {
    line-height: 60px;
}
.sub_navibar .navibar_wrap {
    position: relative;
    display: flex;
}

.navibar_wrap .home {
    margin-left: 60px;
    width: 60px;
    height: 100%;
    font-size: 0;
    background: url(/assets/icon_home.png) center no-repeat;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.navibar_wrap .dir {
    line-height: 60px;
    padding: 2px 32px 0 30px;
    background: url(/assets/bar_v1.png) right center no-repeat;
}
.navibar_wrap .navi_page_selc{
    display: inline-block;
    width: auto;
    padding: 0 30px 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: url(/assets/bar_v1.png) right center no-repeat;
}

/* .navi_page_selc>select {
    color: var(--mc);
} */

.share {
    position: absolute;
    right: 0;
    height: 59px;
    font-size: 14px;
    color: #666;
    line-height: 60px;
    padding: 0 40px 0 57px;
    margin-right: 60px;
    background: url(/assets/icon_share.png) 29px center no-repeat;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}

/* 테이블 큰제목, 필수항목 */
.Page_wrap .TopTit {
    font-size: 25px;
    text-align: left;
    color:#333;
    padding-bottom: 20px;
}
.Page_wrap .Essn {
    display: flex;
    flex-direction: row-reverse;
}
.Page_wrap .Essn_tt {
    font-size: 16px;
    color: #008850;
    line-height: 50px;
    padding-left: 25px;
    background: url(../assets/icon_check_1.png) 0 20px no-repeat;
}

/* 테이블 th 제목 */
.icon_tit {
    display: inline-block;
    font-size: 15px;
    color: #333;
    text-align: left;
    background: url(../assets/icon_check_1.png) 0 3px no-repeat;
    padding-left: 21px;
}

/* 테이블01, 작성자 정보 */
.user_name {
    width: 30%;
}
.user_num {
    display: flex;
    width: 70%;
}

/* 테이블 큰제목, 필수항목 */
.Page_wrap .ViewTit {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color:#333;
    padding-bottom: 20px;
}
.Page_wrap .Essn {
    display: flex;
    flex-direction: row-reverse;
}
.Page_wrap .Essn_tt {
    font-size: 16px;
    color: #008850;
    line-height: 50px;
    padding-left: 25px;
    background: url(../assets/icon_check_1.png) 0 20px no-repeat;
}


/* 작성내용 - 파일첨부 */
.view_file_wrap .file_area {
    height: 70px;
    border: 1px solid #ddd;
}
.file_area_btn {
    height: 40px;
    text-align: right;
    border: 1px solid #ddd;
    background: #f9f9f9;
    padding: 12px;
}

.file_area_btn a {
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid #999;
    background: #f9f9f9;
    border-radius: 8px;
}



/* 댓글 */
.Comment {
    display: flex;
    padding: 20px 0 100px 0;
    border-top: 3px solid #ddd;
}

.Comment textarea {
    width: 100%;
    height: 104px;
    resize: none;
    padding: 10px 10px;
    border: 1px solid #ddd;
}

.Comment .cmt_btn {
    width: 150px;
    text-align: center;
    line-height: 100px;
    border: 2px solid #008850;
    margin-left: 10px;
}
.Comment .cmt_btn a {
    color: #008850;
}

/* 완료버튼 */
.btn {
    width: 100%;
    padding: 0 100px 0 100px;
    background: #fff;
    
}
.btn ul {
    display: flex;
    justify-content: center;
}

.btn li {
    display: inline-block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

.btn .btn_ac01 {
    color: #fff;
    background: #008850;
    margin-right: 20px;
}
.btn .btn_ac02 {
    color: #666;
    background: #fff;
    border: 1px solid #ddd;
}