:root {
    --mc: #008850;
    --sc: #00e085;
    --lc: #f9f9f9;
    --dc: #444;
    --gc: #ddd;
}

/* all */
.mainColor {
    color: var(--mc);
}

.Wrap {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
}

.subwrap {
    max-width: 1920px;
    min-width: 1200px;
    height: 490px;
    margin: 0 auto;
}

/* 슬라이드 깜박임 없애기 */
.main_slider .swiper-wrapper,
.main_slider .swiper-slide {
    transition-duration: 0.5ms;
}

body {
    color: #444444;
    letter-spacing: -0.02em;
}

.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner>* {
    flex: 1;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.sc {
    padding: 100px 0;
    text-align: center;
}

.sc h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.sc .tit {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 40px 0;
}

.sc a.btn_s01 {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #008850;
    color: #008850;
    font-size: 13px;
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.Header .hd_wrap {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    background: rgba(0,0,0,0.15);
    color: var(--lc);
    line-height: 100px;
    transition: 0.5s;
}

.Header.on .hd_wrap {
    background: var(--lc);
    color: var(--dc);
    line-height: 80px;
}


.Header .hd_wrap:hover {
    background: var(--lc);
    color: var(--dc);
}

.Header h1 {
    position: absolute;
    top: 0;
    left: 70px;
    font-size: 0;
}

.Header .hd_wrap h1 a {
    display: inline-block;
    font-size: 0;
    width: 188px;
    height: 22px;
    background: url(../assets/logo_w.png);
    vertical-align: middle;
}

.Header .hd_wrap:hover h1 a {
    background: url(../assets/logo.png);
}

.Header.on .hd_wrap h1 a {
    background: url(../assets/logo.png);
}

.Header .top_service {
    position: absolute;
    top: 0;
    right: 70px;
}

.Gnb>ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.Header .top_service {
    display: flex;
    gap: 40px;
}

.Header .top_service .project li {
    display: inline-block;
    font-weight: 300;
    font-size: 16px;
}

.Header .top_service .project li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: var(--gc);
    margin: 0 10px;
}

.Header .top_service strong {
    cursor: pointer;
}

.Header .top_service strong:hover {
    color: #008850;
}

.Header .top_service strong.on {
    color: #008850;
}

.Header .top_service .lang {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
    font-size: 7px;
    vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
    transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.45;
    border: 2px solid var(--mc);
    background: var(--lc);
    color: #444444;
    padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
    display: block;
}

.Header .top_service .top_search {
    position: relative;
}

.Header .top_search .search_box {
    display: none;
    position: absolute;
    top: 80px;
    right: -65px;
    line-height: 1;
    border: 1px solid var(--gc);
    background: #fff;
    padding: 30px 50px;
    width: 600px;
    text-align: center;
}

.Header .top_search.on .search_box {
    display: block;
}

.Header .top_search .search_box input[type="text"] {
    font-size: 20px;
    width: 450px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 30px;
}

.Header .top_search .search_box::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 60px;
    width: 20px;
    height: 20px;
    background: var(--lc);
    border-left: 1px solid var(--gc);
    border-top: 1px solid var(--gc);
    transform: rotate(45deg);
}

/* section */
.sub_customer {
    height: 490px;
    background: url(../assets/top_visual.jpg);
}

.sub_customer h2 {
    font-size: 46px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding-top: 260px;
}

.sub_content {
    background: #f7f7f7;
}

.sub_content .Page_tit {
    padding: 100px 0 60px 0;
    font-size: 40px;
    font-weight: 500;
    color: #333;
    text-align: center;
}

.sub_content .Page_tab {
    padding: 15px 0;
    font-size: 16px;
    color: #f9f9f9;
    border: 1px solid #008850;
    background: #008850;
    text-align: center;
}

.Page_wrap {
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.Page_wrap .table_wrap {
    padding: 60px 100px 100px 100px;
    background: #fff;
}

.Page_wrap .TopTit {
    font-size: 25px;
    text-align: left;
    color:#333;
}

.Page_wrap .tt {
    line-height: 30px;
    padding-left: 25px;
    background: url(../assets/icon_check_1.png)no-repeat 0 12px;
}